/* shared style */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {

    padding: 15px 20px;
    border-radius: 5px;
    background: #F15B22;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}

.card-img {

    width: 100%;

}

section {
    margin: 100px 200px;
}

.section-title {

    color: #151414;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding: 30px 0px;
}

/* banner style */
.banner-container {
    background-image: url("images/banner/banner2.png");
    background-position: top 20px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;


}

.banner-info {
    max-width: 500px;
    text-align: right;
    padding-top: 100px;

}

.banner-title {
    color: #151414;
    font-size: 4rem;
    font-weight: 700;

}

.banner-des {
    color: var(--dark-02, #444343);
    padding: 30px 0px;
    font-size: 16px;
    font-weight: 400;
}

/* year section style */

.year-container {

    display: flex;
    justify-content: space-around;
    gap: 50px;
    align-items: center;

}

.year-info,
.year-image {

    width: 50%;
}

.year-des {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    padding: 18px 0px;
}

.year-info ul {
    list-style: none;
    color: #444343;
    font-weight: 400;
    line-height: 26px;

}

.year-info li>i {
    color: #16D887;
}


/* my plane style */
.my-plane-container {

    margin: 0px auto;
}

.my-plane-content {

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    text-align: center;

}

.my-plane p {
    color: #737272;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}

.my-plane-title {
    color: #151414;
    padding: 18px 0px;
    font-size: 30px;
    font-weight: 700;

}

/* positive syle  */
.positive-container {

    background-image: url("images/watch.png"), url("images/gradient2.png");
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    padding: 60px 600px 60px 50px;
}

.positive-btn {
    background-color: white;
    color: #F15B22;
    margin-top: 25px;
}

/* footer */

footer {

    background-color: #151414;
    color: white;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 50px 200px;

}

.footer-form,
.footer-info {
    width: 50%;
}

footer h2 {
    color: white;
}

footer p {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 18px 0px;

}

footer ul li {
    list-style: none;
    line-height: 30px;
}

.media-icon {
    margin-top: 20px;
}

.footer-form input[type="email"] {
    padding: 20px 150px 20px 20px;
    border-radius: 8px;
    border: 1px solid #FFF;
    margin-top: 20px;
}






/* responsive mobile device */

@media screen and (max-width:576px) {
    section {
        margin: 50px 20px;
    }

    /* banner style */
    .banner-container {
        background-image: url("images/banner/banner2.png"), linear-gradient(rgba(20, 20, 20, 0.606), rgba(35, 35, 35, 0.098));
        background-blend-mode: overlay;
        background-position: top 20px;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        display: flex;
        justify-content: space-around;
        align-items: center;


    }

    .banner-info {
        width: 100%;
        text-align: center;
    }

    .banner-title {
        font-size: 1.9rem;
        color: white;
    }

    .banner-des {
        color: rgb(235, 235, 235);

    }

    .year-container,
    .my-plane-content,
    footer {
        flex-direction: column;
    }

    .year-info,
    footer p {
        width: 100%;
    }

    .positive-container,
    footer {
        padding: 10px;
    }

    footer {
        gap: 50px;
    }


}



/* responsvie for tablet or mudium device */



@media screen and (min-width:576px) and (max-width:992px) {


    section {
        margin: 50px 20px;
    }

    /* banner style */
    .banner-container {
        background-image: url("images/banner/banner2.png"), linear-gradient(rgba(20, 20, 20, 0.606), rgba(35, 35, 35, 0.098));
        background-blend-mode: overlay;
        background-position: top 20px;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        display: flex;
        justify-content: space-around;
        align-items: center;


    }

    .banner-info {
        width: 100%;
        text-align: center;
    }

    .banner-title {
        font-size: 2.9rem;
        color: white;
    }

    .banner-des {
        color: rgb(235, 235, 235);

    }

    .year-container footer {
        flex-direction: column;
    }

    .year-info,
    footer p {
        width: 100%;
    }

    .positive-container,
    footer {
        padding: 20px;
    }

    footer {
        gap: 100px;
    }

}